

.form-container-login {
  background-color: rgb(255 255 255 / 41%); 
  border-radius: 1rem; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 2rem; 
  max-width: 400px;
  width: 100%;
  backdrop-filter: blur(10px);
}

.form-container-login input {
  background-color: rgba(255, 255, 255, 0.9); 
  border: 1px solid #ccc;
}

